*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:linear-gradient(135deg,#4cb8c4,#9333ea);
}

.card{
  width:380px;
  background:#ececec;
  padding:30px;
  border-radius:30px;
  box-shadow:0 25px 40px rgba(0,0,0,0.25);
}

.top{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  width:60px;
}

.top i{
  font-size:24px;
  cursor:pointer;
}

.image{
  text-align:center;
  margin:25px 0;
}

.image img{
  width:260px;
  transition:0.4s ease;
}

h2{
  margin-bottom:8px;
}

p{
  font-size:13px;
  color:#555;
  margin-bottom:8px;
}

.stars{
  margin-bottom:20px;
  color:gold;
}

.bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.dots{
  display:flex;
  gap:10px;
  margin-top:8px;
}

.dot{
  width:18px;
  height:18px;
  border-radius:50%;
  cursor:pointer;
  transition:0.3s;
}

.blue{background:#1e73ff;}
.silver{background:silver;}
.black{background:black;}

.dot.active{
  box-shadow:0 0 0 3px #ececec, 0 0 0 5px #000;
}

.price h3{
  font-size:24px;
}

.price small{
  font-size:11px;
  color:#666;
}

.btn{
  width:100%;
  margin-top:25px;
  padding:15px;
  border:none;
  border-radius:30px;
  font-size:16px;
  font-weight:bold;
  color:white;
  cursor:pointer;
  background:linear-gradient(90deg,#4cb8c4,#9333ea);
  transition:0.3s;
}

.btn:hover{
  transform:scale(1.05);
}
