*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#f4f4f4;
  color:#222;
  transition:0.3s;
}

.dark{
  background:#111;
  color:white;
}

header{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  align-items:center;
  background:linear-gradient(135deg,#4cb8c4,#3b82f6);
  color:white;
}

.nav-right{
  display:flex;
  align-items:center;
  gap:20px;
}

.cart-link{
  position:relative;
  color:white;
  font-size:24px;
}

.cart-link span{
  position:absolute;
  top:-8px;
  right:-10px;
  background:red;
  padding:3px 7px;
  border-radius:50%;
  font-size:12px;
}

.products{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:30px;
  padding:40px;
}

.product{
  background:white;
  padding:20px;
  border-radius:15px;
  text-align:center;
  box-shadow:0 10px 20px rgba(0,0,0,0.1);
}

.dark .product{
  background:#222;
}

.product img{
  width:200px;
}

.product button{
  margin-top:10px;
  padding:10px 20px;
  border:none;
  background:#3b82f6;
  color:white;
  border-radius:20px;
  cursor:pointer;
}

.cart-page{
  padding:40px;
}

.checkout{
  padding:60px;
  text-align:center;
}

.checkout form{
  display:flex;
  flex-direction:column;
  gap:15px;
  max-width:300px;
  margin:auto;
}

.checkout input, .checkout button{
  padding:10px;
}
